* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;

}

/*     Main     */

.main-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.h1-main {

    font-size: 6vh;
    text-align: center;
    width: 100%;
    
}
.code-message{
    background-color: #1E1E1E;
    height: 20%;
    width: 100%;

    border-radius: 15px;
}

.code-message-ball-container {
    width: 100%;
}

.code-message-ball {
    width: 2vh;
}

.text-code-message {
    font-size: 2.5vh;

}

/*  Icones   */

.icon-contact {
    width: 5%;
    min-width: .7rem;

}

/*       Work       */

.works-container {
    margin-bottom: 6rem;
}

/*     Left work     */
.work-card {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.178);
    border-radius: 10px;
}


.text-used-tecnologies {
    background-color: #D9D9D9;
    padding: .2rem;
    border-radius: 10px;
    width: 20%;
    /* font-size: 100%; */

    text-align: center;
}

.text-used-tecnologies > p {
    font-size: 100%;
}

.project-title {
    font-size: 1.5rem;
    text-align: start;
}

.button-project1 {
    background-color: #1E1E1E;
    text-decoration: none;
    border-radius: 5px;
    
    text-align: center;

    margin-right: 1rem;
}
.button-project2 {
    background-color: #D9D9D9;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    
    text-align: center;

    margin-right: 1rem;
}


/*     Right work     */
.project-img {
    width: 100%;
    height: 100%;

}




/*      About me         */
.about-me-container {
    margin-bottom: 6rem;
}
.about-me-text {
    width: 70%;
}



/*    Tecnologies     */
.tecnologies-icons {
    gap: 50px;
    flex-wrap: wrap;
    width: 80%;
}

.tecnologie-i {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1 0 calc(25% - 50px); 
    max-width: calc(25% - 50px); 

    cursor: pointer;
    transition: .2s;
}



/*  Work together     */

.lets-work-icons {
    
    /* background-color: red; */
    margin-top: 2rem;
}
.lets-work-i {
    width: 5%;
    min-width: .7rem;
    margin-right: 4rem;
    border-radius: 5px;

    cursor: pointer;
    transition: .2s;
}

.lets-work-i:hover {
    background-color: rgb(95, 95, 255);
}

/*        Footer        */
.footer {
    margin: 8rem 0;
}
.footer-text {
    color: #1E1E1E;
}
.footer-text-2 {
    color: #B3B3B3;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}

.footer-text-2:hover {
    color: rgb(95, 95, 255);
}

.fs-10 {
    font-size: .8rem;
}



/*       Media h1-main        */
@media (max-width: 420px) {
    .h1-main {

        font-size: 8vw;
        text-align: center;
        width: 100%;
        
    }

    .text-code-message {
        font-size: 1.8vh;
        /* background-color: yellow; */
    }

    .code-message{
        background-color: #1E1E1E;
        /* height: 15vh; */
        width: 100%;
    
        border-radius: 15px;
    }

    .code-message-ball {
        width: 1.5vh;
    }

    .about-me-text {
        width: 100%;
    }

}


/*     Inverte Work       */
@media (max-width: 767px) {
    .work-card {
        display: flex;
        flex-direction: column-reverse;
    }

    .work-right {
        margin-bottom: 2rem;
    }
}



/*     Tech icons       */
@media (max-width: 985px) {
    .tecnologies-icons {
        gap: 50px;
        flex-wrap: wrap;
        width: 100%;
    }

    .tecnologie-i {
        flex: 1 0 calc(25% - 50px); /* Cada item terá 25% de largura, com 20px de espaçamento entre eles */
        max-width: calc(25% - 50px); /* Largura máxima para evitar que um item se expanda demais */
    }
}

@media (max-width: 767px) {
    .tecnologies {
        margin-bottom: 6rem;
    }
  
}